[Unit]
Description=Monitor hotplug

[Service]
Type=simple
RemainAfterExit=no
User=sfhp
ExecStart=/usr/local/bin/monitor-hotplug.sh

[Install]
WantedBy=multi-user.target
